@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
}

.v-tabs .v-tab,
.v-btn {
    text-transform: none;
}

.custom-radius {
    border-radius: 15px !important;
}

.bg-pending {
    background-color: #9F9F9E;
}

.pending {
    color: #9F9F9E;
}

.bg-in-progress {
    background-color: #FFEDBD;
}

.in-progress {
    color: #FFEDBD;
}

.bg-ready {
    background-color: #C8FFE4;
}

.ready {
    color: #C8FFE4;
}

.bg-complete {
    background-color: #E0EBFF;
}

.complete {
    color: #E0EBFF;
}

.bg-cancelled {
    background-color: #EF5350;
}

.cancelled {
    color: #EF5350;
}

.v-field--variant-outlined,
.v-field--single-line,
.v-field--no-label {
    border-radius: 15px !important;
}

.v-btn {
    border-radius: 15px !important;
}

.text-subtitle-1 {
    font-family: poppins;
}