@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
}

.v-tabs .v-tab,
.v-btn {
    text-transform: none;
}

.custom-radius {
    border-radius: 15px !important;
}

.bg-pending {
    background-color: #9F9F9E;
}

.pending {
    color: #9F9F9E;
}